// src/app/app.component.scss
@import './assets//styles/variables';
@import './assets/styles/mixins';

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  // Account for fixed header - calculated based on logo height + padding
  // Mobile-xs: 50px logo + 24px padding = 74px
  margin-top: 74px;
  
  @include mobile-sm {
    // 52px logo + 28px padding = 80px
    margin-top: 80px;
  }
  
  @include mobile-md {
    // 54px logo + 32px padding = 86px
    margin-top: 86px;
  }
  
  @include tablet {
    // 58px logo + 32px padding = 90px
    margin-top: 90px;
  }
  
  @include desktop {
    // 60px logo + 40px padding = 100px
    margin-top: 100px;
  }
  
  @include desktop-lg {
    // 64px logo + 40px padding = 104px
    margin-top: 104px;
  }
}