// src/app/app.component.scss
@import './assets//styles/variables';
@import './assets/styles/mixins';

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  // Account for fixed header - calculated based on logo height + padding (3x larger logo)
  // Mobile-xs: 135px logo + 24px padding = 159px
  margin-top: 159px;
  
  @include mobile-sm {
    // 144px logo + 28px padding = 172px
    margin-top: 172px;
  }
  
  @include mobile-md {
    // 150px logo + 32px padding = 182px
    margin-top: 182px;
  }
  
  @include tablet {
    // 165px logo + 32px padding = 197px
    margin-top: 197px;
  }
  
  @include desktop {
    // 180px logo + 40px padding = 220px
    margin-top: 220px;
  }
  
  @include desktop-lg {
    // 192px logo + 40px padding = 232px
    margin-top: 232px;
  }
}